.booking-details {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-side,
  .right-side {
    flex-basis: 50%;
    padding: 20px;
  }
  
  .car-details,
  .payment-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  .car-details h3,
  .payment-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
 
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  