/* styles/destination.css */
.destination{
    height: 100vh;
    background-image: url("../../images/background.png");
    object-fit: cover;
    background-size: 100vw 100vh;

}
.container {
    max-width: 400px;
    color: white;
    margin: 0 auto;
    padding: 20px;
    margin-top: 90px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .fields {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .fields[type="date"] {
    appearance: none;
    padding-right: 24px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  