.add-car-details-container {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  position: relative;
}
/* .add-button {
  position: absolute;
  top: 20px;
  right: 20px;
} */
.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}
.delete-button,
.save-button {
  background-color: #F44336;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}
.delete-button:hover,
.save-button:hover {
  opacity: 0.8;
}

